# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.firebase
.firebase/pptk10a/hosting/404.html
.firebase/pptk10a/hosting/favicon.ico
.firebase/pptk10a/hosting/fizika.html
.firebase/pptk10a/hosting/hittan.html
.firebase/pptk10a/hosting/index.html
.firebase/pptk10a/hosting/next.svg
.firebase/pptk10a/hosting/tortenelem.html
.firebase/pptk10a/hosting/vercel.svg
.firebase/pptk10a/hosting/_next/static/chunks/720-064698377a09b5a2.js
.firebase/pptk10a/hosting/_next/static/chunks/769-a4e2664779b19954.js
.firebase/pptk10a/hosting/_next/static/chunks/bce60fc1-85653116803f8735.js
.firebase/pptk10a/hosting/_next/static/chunks/cacdea1d-8c65cfac5d8fd41b.js
.firebase/pptk10a/hosting/_next/static/chunks/framework-8883d1e9be70c3da.js
.firebase/pptk10a/hosting/_next/static/chunks/main-15e44c39c14ccb6e.js
.firebase/pptk10a/hosting/_next/static/chunks/main-app-7630465ccc481823.js
.firebase/pptk10a/hosting/_next/static/chunks/polyfills-78c92fac7aa8fdd8.js
.firebase/pptk10a/hosting/_next/static/chunks/webpack-0764f42b7a7ab8fd.js
.firebase/pptk10a/hosting/_next/static/chunks/app/layout-a207f1ab4cedd959.js
.firebase/pptk10a/hosting/_next/static/chunks/app/page-10c0b4d96c987567.js
.firebase/pptk10a/hosting/_next/static/chunks/app/fizika/page-39bf476e2b618467.js
.firebase/pptk10a/hosting/_next/static/chunks/app/hittan/page-14eccdacd6c95c39.js
.firebase/pptk10a/hosting/_next/static/chunks/app/tortenelem/page-e4586d7abbacd9e3.js
.firebase/pptk10a/hosting/_next/static/chunks/pages/_app-998b8fceeadee23e.js
.firebase/pptk10a/hosting/_next/static/chunks/pages/_error-e8b35f8a0cf92802.js
.firebase/pptk10a/hosting/_next/static/css/65de1050282fa2de.css
.firebase/pptk10a/hosting/_next/static/DJc8U1NU7mtDMCziPcG_0/_buildManifest.js
.firebase/pptk10a/hosting/_next/static/DJc8U1NU7mtDMCziPcG_0/_ssgManifest.js
.firebase/pptk10a/hosting/_next/static/media/2aaf0723e720e8b9-s.p.woff2
.firebase/pptk10a/hosting/_next/static/media/9c4f34569c9b36ca-s.woff2
.firebase/pptk10a/hosting/_next/static/media/ae9ae6716d4f8bf8-s.woff2
.firebase/pptk10a/hosting/_next/static/media/b1db3e28af9ef94a-s.woff2
.firebase/pptk10a/hosting/_next/static/media/b967158bc7d7a9fb-s.woff2
.firebase/pptk10a/hosting/_next/static/media/c0f5ec5bbf5913b7-s.woff2
.firebase/pptk10a/hosting/_next/static/media/d1d9458b69004127-s.woff2
app/Firebase.tsx
public/pptk/
